body{
  font-family: 'Roboto', sans-serif;
}

.landing{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-size: 2em;
}

.link{
  background-color: #97e4cd;
  border: 1px solid #97e4cd;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}
.link:hover{
  background-color: #fff;
  color: #97e4cd;
  
}