.filter-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 3px;
  margin: 20px 80px;
  padding: 10px;

}

.filter{
  border: 1px solid rgba(128, 128, 128, 0.459);
  padding: 3px;
  border-radius: 3px;
}