.nav-container {
    background-color: #f07253;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 5px 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.logo {
    display: flex;
    width: 30%;
    gap: 20px;
}

.link {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
}

.home{
    box-shadow: -2px -2px 0 #f07253;
    padding: 0 10px;
    border: 1px solid #020000;
    border-radius: 3px;
}

.links{
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav{
    display: flex;
    width: 90%;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .nav{
        flex-direction: column;
    }
    .home{
        display: none;
    }
    .link{
        margin: 10px 0;
    }
}