.nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #97e4cd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: sticky;
    top: 0;
}

.logo{
    display: flex;
    height: 100%;
    gap: 20px;
    font-size: 0.8em;
}