.searchBar {
  display: flex;
  gap: 5px;
}
.input{
  border-radius: 3px;
  border: 1px solid;
}
.button {
  border-radius: 3px;
  border: 1px solid rgb(38, 144, 38);
  background-color: white;
  padding: 5px;
  color: rgb(38, 144, 38);
  transition: all 0.3s;
}
.button:hover{
  background-color: rgb(38, 144, 38);
  color: white;
}
