.searchBar {
  display: flex;
  gap: 5px;
  height: fit-content;
}
.input{
  border-radius: 3px;
  border: 1px solid;
}
.button {
  border-radius: 3px;
  border: #f07253;
  background-color: white;
  padding: 5px;
  color: #f07253;
  transition: all 0.3s;
}
.button:hover{
  background-color: #f07253;
  color: white;
}
